@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, black, #cf005d);
  color: white;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.max-container {
  max-width: 1400px;
  margin: 0 auto;
  margin-inline: auto;
}

.inspiration-regular {
  font-family: var(--font-inspiration), sans-serif;
  font-weight: 400;
  font-style: normal;
}


